@font-face {
  font-family: "Avion";
  src: url("../assets/fonts/ClashDisplay-Extralight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Avion";
  src: url("../assets/fonts/ClashDisplay-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Avion";
  src: url("../assets/fonts/ClashDisplay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Avion";
  src: url("../assets/fonts/ClashDisplay-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avion";
  src: url("../assets/fonts/ClashDisplay-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Avion";
  src: url("../assets/fonts/ClashDisplay-Black.otf");
  font-weight: 900;
}
