* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background-color: #61f4bf;
}

main {
  padding: 30px;
  height: calc(100vh - 80px);
  display: flex;
  gap: 30px;
}

aside {
  height: 100%;
  width: 300px;
  background-color: #6193f4;
  border-radius: 10px;
}

.content {
  height: 100%;
  width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-1 {
  width: calc(100vw - 300px);
  display: flex;
  gap: 30px;
}

.section-1 .box {
  background-color: #f46161;
  border-radius: 10px;
  height: 200px;
}

.section-1 .box:nth-child(1) {
  flex-grow: 2;
}

.section-1 .box:nth-child(2) {
  flex-grow: 1;
}

.section-2 {
  width: calc(100vw - 300px);
  display: flex;
  gap: 30px;
}

.section-2 .box {
  background-color: #9061f4;
  border-radius: 10px;
  height: 200px;
}

.section-2 .box:nth-child(1) {
  flex-grow: 1;
}

.section-2 .box:nth-child(2) {
  flex-grow: 2;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #61f4bf;
  border-radius: 10px;
}
