:root {
  /* --background-color: #fff;
  --primary-color: #333;
  --secondary-color: #fff;
  --text-color: #333;
  --text-color-light: #fff; */

  --background-color: #221a1a;
  --primary-color: #fff;
  --secondary-color: #333;
  --text-color: #fff;
  --text-color-light: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  /* --background-color: #221a1a;
  --primary-color: #fff;
  --secondary-color: #333;
  --text-color: #fff;
  --text-color-light: #333; */

  --background-color: #fff;
  --primary-color: #333;
  --secondary-color: #fff;
  --text-color: #333;
  --text-color-light: #fff;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
  background: radial-gradient(ellipse at center, yellow, green);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

header nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

header a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.toggle:hover {
  opacity: 0.6;
}

@media (prefers-color-scheme: dark) {
  .dark {
    --background-color: #221a1a;
    --primary-color: #fff;
    --secondary-color: #333;
    --text-color: #fff;
    --text-color-light: #333;
  }
}

.box {
  width: 300px;
  height: 200px;

  background-color: antiquewhite;

  overflow: auto;
}

.box p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  /* mask-image: url("./assets/images/mask-image.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center; */
  /* clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  ); */
}

h1 {
  font-size: 256px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("./assets/images/nature.jpeg");
  background-size: cover;
  background-position: center;
}

.linear-gradient-bg {
  width: 500px;
  height: 500px;
  /* background: linear-gradient(20deg, red, blue, yellow); */
  /* background: linear-gradient(
    90deg,
    rgba(74, 255, 0, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(175, 5, 5, 1) 61%,
    rgba(0, 212, 255, 1) 100%
  ); */

  /* background: #334d50;
  background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
  background: linear-gradient(to right, #cbcaa5, #334d50); */

  /* background: radial-gradient(circle, red, blue, yellow); */
  /* background: radial-gradient(ellipse at center, yellow, green); */
  /* background: conic-gradient(from 0deg, red, yellow, green); */
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 72, 66, 0.4);
  filter: blur(30px);
}
